@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #f8fafc;
}

html,
body,
#__next {
    height: 100%;
}

body {
    font-family:
        "Inter",
        ui-sans-serif,
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial;
    background: var(--bg);
    color: #111827;
}
